.css_especialidades_label {text-align:center;}
.css_especialidades_line {text-align:center;}
.css_especialidades_obj {text-align:center;}
.css_servicios_label {text-align:center;}
.css_servicios_line {text-align:center;}
.css_servicios_obj {text-align:center;}
.css_medicos_label {text-align:center;}
.css_medicos_line {text-align:center;}
.css_medicos_obj {text-align:center;}
.css_asignaciones_label {text-align:center;}
.css_asignaciones_line {text-align:center;}
.css_asignaciones_obj {text-align:center;}
.css_agendas_label {text-align:center;}
.css_agendas_line {text-align:center;}
.css_agendas_obj {text-align:center;}
.css_usuarios_label {text-align:center;}
.css_usuarios_line {text-align:center;}
.css_usuarios_obj {text-align:center;}
.css_cambiar_contrasena_label {text-align:center;}
.css_cambiar_contrasena_line {text-align:center;}
.css_cambiar_contrasena_obj {text-align:center;}
.css_emisores_label {text-align:center;}
.css_emisores_line {text-align:center;}
.css_emisores_obj {text-align:center;}
