.css_dcdsecuen__label {text-align:;}
.css_dcdsecuen__line {text-align:left;}
.css_dcdsecuen__obj {text-align:left;}
.css_sercodigo__label { }
.css_sercodigo__line {text-align:left;}
.css_sercodigo__obj {text-align:left;width:400px;}
.css_dcdcantidad__label {text-align:center;}
.css_dcdcantidad__line {text-align:right;}
.css_dcdcantidad__obj {text-align:right;}
.css_dcdprecio__label {text-align:center;}
.css_dcdprecio__line {text-align:right;}
.css_dcdprecio__obj {text-align:right;}
.css_dcdporcendesc__label {text-align:center;}
.css_dcdporcendesc__line {text-align:right;}
.css_dcdporcendesc__obj {text-align:right;}
.css_dcdtotal__label {text-align:center;}
.css_dcdtotal__line {text-align:right;}
.css_dcdtotal__obj {text-align:right;}
