.css_estab__label { }
.css_estab__line {text-align:left;}
.css_estab__obj {text-align:left;}
.css_ptoemi__label { }
.css_ptoemi__line {text-align:left;}
.css_ptoemi__obj {text-align:left;}
.css_secuencial__label { }
.css_secuencial__line {text-align:left;}
.css_secuencial__obj {text-align:left;}
.css_lote__label { }
.css_lote__line { }
.css_lote__obj { }
.css_codigo__label { }
.css_codigo__line { }
.css_codigo__obj { }
.css_descripcion__label { }
.css_descripcion__line { }
.css_descripcion__obj { }
.css_cantidad__label { }
.css_cantidad__line { }
.css_cantidad__obj {text-align:right;}
.css_preciounitario__label { }
.css_preciounitario__line { }
.css_preciounitario__obj { }
.css_descuento__label { }
.css_descuento__line { }
.css_descuento__obj { }
