.css_fclnumero_label { }
.css_fclnumero_line {text-align:left;}
.css_fclnumero_obj {text-align:left;}
.css_cobfecha_label { }
.css_cobfecha_line { }
.css_cobfecha_obj { }
.css_cobvalefec_label { }
.css_cobvalefec_line {text-align:left;}
.css_cobvalefec_obj {text-align:left;}
.css_cobvalcheq_label { }
.css_cobvalcheq_line {text-align:left;}
.css_cobvalcheq_obj {text-align:left;}
.css_cobvaltarjcred_label { }
.css_cobvaltarjcred_line {text-align:left;}
.css_cobvaltarjcred_obj {text-align:left;}
.css_cobvaltransf_label { }
.css_cobvaltransf_line {text-align:left;}
.css_cobvaltransf_obj {text-align:left;}
.css_cobvalretfte_label { }
.css_cobvalretfte_line { }
.css_cobvalretfte_obj { }
.css_cobvaltotal_label { }
.css_cobvaltotal_line {text-align:left;}
.css_cobvaltotal_obj {text-align:left;}
.css_cobnumcheq_label { }
.css_cobnumcheq_line { }
.css_cobnumcheq_obj { }
.css_cobbancheq_label { }
.css_cobbancheq_line { }
.css_cobbancheq_obj { }
.css_tcrcodigo_label { }
.css_tcrcodigo_line {text-align:left;}
.css_tcrcodigo_obj {text-align:left;}
.css_cobnumtarjcred_label { }
.css_cobnumtarjcred_line { }
.css_cobnumtarjcred_obj { }
.css_cobbantransf_label { }
.css_cobbantransf_line { }
.css_cobbantransf_obj { }
.css_cobctatransf_label { }
.css_cobctatransf_line { }
.css_cobctatransf_obj { }
.css_cobvalcruz_label { }
.css_cobvalcruz_line {text-align:left;}
.css_cobvalcruz_obj {text-align:left;}
.css_cobanula_label { }
.css_cobanula_line {text-align:left;}
.css_cobanula_obj {text-align:left;}
.css_detalle_cobro_label { }
.css_detalle_cobro_line { }
.css_detalle_cobro_obj { }
.css_saldo_favor_label { }
.css_saldo_favor_line { }
.css_saldo_favor_obj {text-align:right;}
