.css_fclnumero_label { }
.css_fclnumero_line {text-align:left;}
.css_fclnumero_obj {text-align:left;}
.css_hisfecha_label { }
.css_hisfecha_line { }
.css_hisfecha_obj { }
.css_medcodigo_label { }
.css_medcodigo_line {text-align:left;}
.css_medcodigo_obj {text-align:left;}
.css_espcodigo_label { }
.css_espcodigo_line {text-align:left;}
.css_espcodigo_obj {text-align:left;}
.css_hispeso_label { }
.css_hispeso_line {text-align:left;}
.css_hispeso_obj {text-align:left;}
.css_hisaltura_label { }
.css_hisaltura_line {text-align:left;}
.css_hisaltura_obj {text-align:left;}
.css_histemperatura_label { }
.css_histemperatura_line {text-align:left;}
.css_histemperatura_obj {text-align:left;}
.css_hispulso_label { }
.css_hispulso_line {text-align:left;}
.css_hispulso_obj {text-align:left;}
.css_hisfrecresp_label { }
.css_hisfrecresp_line {text-align:left;}
.css_hisfrecresp_obj {text-align:left;}
.css_hispresart_label { }
.css_hispresart_line { }
.css_hispresart_obj { }
.css_hisembaraz_label { }
.css_hisembaraz_line {text-align:left;}
.css_hisembaraz_obj {text-align:left;}
.css_hisfumador_label { }
.css_hisfumador_line {text-align:left;}
.css_hisfumador_obj {text-align:left;}
.css_hisedad_label { }
.css_hisedad_line {text-align:left;}
.css_hisedad_obj {text-align:left;}
.css_hisenfmed_label { }
.css_hisenfmed_line { }
.css_hisenfmed_obj { }
.css_hisanteced_label { }
.css_hisanteced_line { }
.css_hisanteced_obj { }
.css_hishistoria_label { }
.css_hishistoria_line { }
.css_hishistoria_obj { }
.css_hisevolucion_label { }
.css_hisevolucion_line { }
.css_hisevolucion_obj { }
.css_hisusucrea_label { }
.css_hisusucrea_line { }
.css_hisusucrea_obj { }
.css_hisfeccrea_label { }
.css_hisfeccrea_line { }
.css_hisfeccrea_obj { }
.css_cliente_label { }
.css_cliente_line { }
.css_cliente_obj { }
.css_edad_label { }
.css_edad_line { }
.css_edad_obj { }
