.css_f_estab_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_f_estab_grid_line {vertical-align: top;text-align: right;}
.css_f_ptoemi_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_f_ptoemi_grid_line {vertical-align: top;text-align: right;}
.css_f_secuencial_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_f_secuencial_grid_line {vertical-align: top;text-align: right;}
.css_f_lote_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_f_lote_grid_line {vertical-align: top;text-align: right;}
