.css_mxesecuen__label {text-align:;}
.css_mxesecuen__line {text-align:left;}
.css_mxesecuen__obj {text-align:left;}
.css_medcodigo__label { }
.css_medcodigo__line {text-align:left;}
.css_medcodigo__obj {text-align:left;}
.css_espcodigo__label { }
.css_espcodigo__line {text-align:left;}
.css_espcodigo__obj {text-align:left;}
