.css_espcodigo_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_espcodigo_grid_line {vertical-align: top;text-align: center;}
.css_espnombre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_espnombre_grid_line {vertical-align: top;text-align: right;}
.css_espusucrea_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_espusucrea_grid_line {vertical-align: top;text-align: right;}
.css_espusumodi_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_espusumodi_grid_line {vertical-align: top;text-align: right;}
.css_espfeccrea_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_espfeccrea_grid_line {vertical-align: top;text-align: center;}
.css_espfecmodi_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_espfecmodi_grid_line {vertical-align: top;text-align: center;}
