.css_emiruc__label { }
.css_emiruc__line { }
.css_emiruc__obj { }
.css_cxctipodoc__label { }
.css_cxctipodoc__line { }
.css_cxctipodoc__obj { }
.css_cxcnumdoc__label { }
.css_cxcnumdoc__line {text-align:left;}
.css_cxcnumdoc__obj {text-align:left;}
.css_cxcvalini__label { }
.css_cxcvalini__line {text-align:left;}
.css_cxcvalini__obj {text-align:left;}
.css_cxcvalpen__label { }
.css_cxcvalpen__line {text-align:left;width:100px;}
.css_cxcvalpen__obj {text-align:left;}
.css_cxcvalretfte__label { }
.css_cxcvalretfte__line {text-align:left;}
.css_cxcvalretfte__obj {text-align:left;}
.css_cxcfecvence__label { }
.css_cxcfecvence__line { }
.css_cxcfecvence__obj { }
.css_abono__label {text-align:right;}
.css_abono__line {text-align:right;}
.css_abono__obj {text-align:right;}
.css_saldo_favor__label {text-align:left;}
.css_saldo_favor__line {text-align:left;width:100px;}
.css_saldo_favor__obj {text-align:left;}
