.css_c_citid_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_c_citid_grid_line {vertical-align: top;text-align: center;}
.css_c_cittitulo_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_c_cittitulo_grid_line {vertical-align: top;text-align: left;}
.css_f_fclcedula_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_f_fclcedula_grid_line {vertical-align: top;text-align: center;}
.css_c_citfecha_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_c_citfecha_grid_line {vertical-align: top;text-align: center;}
.css_c_cithoraini_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_c_cithoraini_grid_line {vertical-align: top;text-align: center;}
.css_c_cithorafin_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_c_cithorafin_grid_line {vertical-align: top;text-align: center;}
.css_c_agesecuen_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_c_agesecuen_grid_line {vertical-align: top;text-align: left;}
.css_c_cittipo_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_c_cittipo_grid_line {vertical-align: top;text-align: center;}
.css_c_citfactur_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_c_citfactur_grid_line {vertical-align: top;text-align: center;}
.css_c_prenumero_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_c_prenumero_grid_line {vertical-align: top;text-align: left;}
.css_c_citobserv_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_c_citobserv_grid_line {vertical-align: top;text-align: left;}
