.css_cxctipodoc_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cxctipodoc_grid_line {vertical-align: top;text-align: left;}
.css_cxcnumdoc_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cxcnumdoc_grid_line {vertical-align: top;text-align: left;}
.css_decvalretfte_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_decvalretfte_grid_line {vertical-align: top;text-align: right;}
.css_decvalabono_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_decvalabono_grid_line {vertical-align: top;text-align: right;}
.css_decsecuen_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_decsecuen_grid_line {vertical-align: top;text-align: right;}
.css_cobemiruc_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cobemiruc_grid_line {vertical-align: top;text-align: left;}
.css_cobnumero_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_cobnumero_grid_line {vertical-align: top;text-align: right;}
.css_cxcemiruc_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cxcemiruc_grid_line {vertical-align: top;text-align: left;}
