.css_fechaemision_label { }
.css_fechaemision_line {text-align:left;}
.css_fechaemision_obj {text-align:left;}
.css_razonsocialcomprador_label { }
.css_razonsocialcomprador_line {text-align:left;}
.css_razonsocialcomprador_obj {text-align:left;}
.css_idcomprador_label { }
.css_idcomprador_line {text-align:left;}
.css_idcomprador_obj {text-align:left;}
.css_totalsinimpuestos_label { }
.css_totalsinimpuestos_line { }
.css_totalsinimpuestos_obj {text-align:right;}
.css_totaldescuento_label { }
.css_totaldescuento_line { }
.css_totaldescuento_obj { }
.css_base_12_label { }
.css_base_12_line { }
.css_base_12_obj { }
.css_base_0_label { }
.css_base_0_line { }
.css_base_0_obj { }
.css_importetotal_label { }
.css_importetotal_line { }
.css_importetotal_obj { }
.css_campoadicional1_label { }
.css_campoadicional1_line {color:#666666;font-weight:bold;text-align:right;}
.css_campoadicional1_obj {text-align:right;}
.css_valoradicional1_label { }
.css_valoradicional1_line { }
.css_valoradicional1_obj { }
.css_campoadicional2_label { }
.css_campoadicional2_line {color:#666666;font-weight:bold;text-align:right;}
.css_campoadicional2_obj {text-align:right;}
.css_valoradicional2_label { }
.css_valoradicional2_line {font-weight:normal;}
.css_valoradicional2_obj { }
.css_campoadicional3_label { }
.css_campoadicional3_line {color:#666666;font-weight:bold;text-align:right;}
.css_campoadicional3_obj {text-align:right;}
.css_valoradicional3_label { }
.css_valoradicional3_line {font-weight:normal;}
.css_valoradicional3_obj { }
.css_campoadicional4_label { }
.css_campoadicional4_line {color:#666666;font-weight:bold;text-align:right;}
.css_campoadicional4_obj {text-align:right;}
.css_valoradicional4_label { }
.css_valoradicional4_line {font-weight:normal;}
.css_valoradicional4_obj { }
.css_campoadicional5_label { }
.css_campoadicional5_line {color:#666666;font-weight:bold;text-align:right;}
.css_campoadicional5_obj {text-align:right;}
.css_valoradicional5_label { }
.css_valoradicional5_line {font-weight:normal;}
.css_valoradicional5_obj { }
.css_campoadicional6_label { }
.css_campoadicional6_line {color:#666666;font-weight:bold;text-align:right;}
.css_campoadicional6_obj {text-align:right;}
.css_valoradicional6_label { }
.css_valoradicional6_line {font-weight:normal;}
.css_valoradicional6_obj { }
.css_campoadicional7_label { }
.css_campoadicional7_line {color:#666666;font-weight:bold;text-align:right;}
.css_campoadicional7_obj {text-align:right;}
.css_valoradicional7_label { }
.css_valoradicional7_line {font-weight:normal;}
.css_valoradicional7_obj { }
.css_campoadicional8_label { }
.css_campoadicional8_line {color:#666666;font-weight:bold;text-align:right;}
.css_campoadicional8_obj {text-align:right;}
.css_valoradicional8_label { }
.css_valoradicional8_line {font-weight:normal;}
.css_valoradicional8_obj { }
.css_campoadicional9_label { }
.css_campoadicional9_line {color:#666666;font-weight:bold;text-align:right;}
.css_campoadicional9_obj {text-align:right;}
.css_valoradicional9_label { }
.css_valoradicional9_line {font-weight:normal;}
.css_valoradicional9_obj { }
.css_campoadicional10_label { }
.css_campoadicional10_line {color:#666666;font-weight:bold;text-align:right;}
.css_campoadicional10_obj {text-align:right;}
.css_valoradicional10_label { }
.css_valoradicional10_line { }
.css_valoradicional10_obj { }
.css_campoadicional11_label { }
.css_campoadicional11_line {color:#666666;font-weight:bold;text-align:right;}
.css_campoadicional11_obj {text-align:right;}
.css_valoradicional11_label { }
.css_valoradicional11_line { }
.css_valoradicional11_obj { }
.css_campoadicional12_label { }
.css_campoadicional12_line {color:#666666;text-align:right;}
.css_campoadicional12_obj { }
.css_valoradicional12_label { }
.css_valoradicional12_line { }
.css_valoradicional12_obj { }
.css_campoadicional13_label { }
.css_campoadicional13_line {color:#666666;text-align:right;}
.css_campoadicional13_obj { }
.css_valoradicional13_label { }
.css_valoradicional13_line { }
.css_valoradicional13_obj { }
.css_campoadicional14_label { }
.css_campoadicional14_line {color:#666666;text-align:right;}
.css_campoadicional14_obj { }
.css_valoradicional14_label { }
.css_valoradicional14_line { }
.css_valoradicional14_obj { }
.css_campoadicional15_label { }
.css_campoadicional15_line {color:#666666;text-align:right;}
.css_campoadicional15_obj { }
.css_valoradicional15_label { }
.css_valoradicional15_line { }
.css_valoradicional15_obj { }
.css_campoadicional16_label { }
.css_campoadicional16_line {color:#666666;text-align:right;}
.css_campoadicional16_obj { }
.css_valoradicional16_label { }
.css_valoradicional16_line { }
.css_valoradicional16_obj { }
.css_campoadicional17_label { }
.css_campoadicional17_line {color:#666666;text-align:right;}
.css_campoadicional17_obj { }
.css_valoradicional17_label { }
.css_valoradicional17_line { }
.css_valoradicional17_obj { }
.css_campoadicional18_label { }
.css_campoadicional18_line {color:#666666;text-align:right;}
.css_campoadicional18_obj { }
.css_valoradicional18_label { }
.css_valoradicional18_line { }
.css_valoradicional18_obj { }
.css_campoadicional19_label { }
.css_campoadicional19_line {color:#666666;text-align:right;}
.css_campoadicional19_obj { }
.css_valoradicional19_label { }
.css_valoradicional19_line { }
.css_valoradicional19_obj { }
.css_campoadicional20_label { }
.css_campoadicional20_line {color:#666666;text-align:right;}
.css_campoadicional20_obj { }
.css_valoradicional20_label { }
.css_valoradicional20_line { }
.css_valoradicional20_obj { }
.css_facturado_label { }
.css_facturado_line {text-align:left;}
.css_facturado_obj {text-align:left;}
.css_detalle_factura_label { }
.css_detalle_factura_line { }
.css_detalle_factura_obj { }
.css_num_fact_label { }
.css_num_fact_line {text-align:left;}
.css_num_fact_obj {text-align:left;}
