.css_factura_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_factura_grid_line {vertical-align: top;text-align: right;}
.css_idcomprador_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_idcomprador_grid_line {vertical-align: top;text-align: right;}
.css_razonsocialcomprador_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_razonsocialcomprador_grid_line {vertical-align: top;text-align: right;}
.css_valoradicional5_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_valoradicional5_grid_line {vertical-align: top;text-align: right;}
.css_fechaemision_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fechaemision_grid_line {vertical-align: top;text-align: right;}
.css_importetotal_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_importetotal_grid_line {vertical-align: top;text-align: right;}
.css_ride_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_ride_grid_line {text-align: center;}
