.css_prenumero_label { }
.css_prenumero_line {text-align:left;}
.css_prenumero_obj {text-align:left;}
.css_prenombre_label { }
.css_prenombre_line { }
.css_prenombre_obj { }
.css_fclnumero_label { }
.css_fclnumero_line {text-align:left;}
.css_fclnumero_obj {text-align:left;}
.css_medcodigo_label { }
.css_medcodigo_line {text-align:left;}
.css_medcodigo_obj {text-align:left;}
.css_preestado_label { }
.css_preestado_line { }
.css_preestado_obj { }
.css_preobserv_label { }
.css_preobserv_line { }
.css_preobserv_obj { }
.css_preusucrea_label { }
.css_preusucrea_line { }
.css_preusucrea_obj { }
.css_preusumodi_label { }
.css_preusumodi_line { }
.css_preusumodi_obj { }
.css_prefeccrea_label { }
.css_prefeccrea_line { }
.css_prefeccrea_obj { }
.css_prefecmodi_label { }
.css_prefecmodi_line { }
.css_prefecmodi_obj { }
.css_detalle_label { }
.css_detalle_line { }
.css_detalle_obj { }
.css_cliente_label { }
.css_cliente_line { }
.css_cliente_obj { }
.css_total_label { }
.css_total_line { }
.css_total_obj { }
.css_total_realizado_label { }
.css_total_realizado_line { }
.css_total_realizado_obj { }
.css_total_faltante_label { }
.css_total_faltante_line { }
.css_total_faltante_obj { }
