.css_sercodigo_label { }
.css_sercodigo_line {text-align:left;}
.css_sercodigo_obj {text-align:left;}
.css_sernombre_label { }
.css_sernombre_line { }
.css_sernombre_obj { }
.css_serduracion_label { }
.css_serduracion_line {text-align:left;}
.css_serduracion_obj {text-align:left;}
.css_serprecio_label { }
.css_serprecio_line {text-align:left;}
.css_serprecio_obj {text-align:left;}
.css_espcodigo_label { }
.css_espcodigo_line {text-align:left;}
.css_espcodigo_obj {text-align:left;}
.css_sersincosto_label { }
.css_sersincosto_line {text-align:left;}
.css_sersincosto_obj {text-align:left;}
.css_serusucrea_label { }
.css_serusucrea_line { }
.css_serusucrea_obj { }
.css_serusumodi_label { }
.css_serusumodi_line { }
.css_serusumodi_obj { }
.css_serfeccrea_label { }
.css_serfeccrea_line { }
.css_serfeccrea_obj { }
.css_serfecmodi_label { }
.css_serfecmodi_line { }
.css_serfecmodi_obj { }
