.css_c_emiruc_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_c_emiruc_grid_line {vertical-align: top;text-align: left;}
.css_c_cobnumero_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_c_cobnumero_grid_line {vertical-align: top;text-align: center;}
.css_c_fclnumero_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_c_fclnumero_grid_line {vertical-align: top;text-align: left;}
.css_c_cobfecha_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_c_cobfecha_grid_line {vertical-align: top;text-align: center;}
.css_c_cobvaltotal_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_c_cobvaltotal_grid_line {vertical-align: top;text-align: right;}
.css_c_cobvaltotal_tot_ger {text-align: right;}
.css_c_cobanula_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_c_cobanula_grid_line {vertical-align: top;text-align: center;}
