.css_fclnumero_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fclnumero_grid_line {vertical-align: top;text-align: center;}
.css_fclapellidos_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fclapellidos_grid_line {vertical-align: top;text-align: left;}
.css_fclnombres_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fclnombres_grid_line {vertical-align: top;text-align: left;}
.css_fclfechareg_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fclfechareg_grid_line {vertical-align: top;text-align: center;}
.css_fclcedula_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fclcedula_grid_line {vertical-align: top;text-align: left;}
.css_fclfechanac_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fclfechanac_grid_line {vertical-align: top;text-align: center;}
