.css_medcodigo_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_medcodigo_grid_line {vertical-align: top;text-align: center;}
.css_medapellidos_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_medapellidos_grid_line {vertical-align: top;text-align: right;}
.css_mednombres_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_mednombres_grid_line {vertical-align: top;text-align: right;}
.css_medemail_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_medemail_grid_line {vertical-align: top;text-align: right;}
.css_medtelefonos_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_medtelefonos_grid_line {vertical-align: top;text-align: right;}
.css_medusucrea_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_medusucrea_grid_line {vertical-align: top;text-align: right;}
