.css_citid_label {vertical-align:top;}
.css_citid_line {text-align:left;}
.css_citid_obj {text-align:left;}
.css_cittitulo_label { }
.css_cittitulo_line { }
.css_cittitulo_obj { }
.css_citfecha_label { }
.css_citfecha_line { }
.css_citfecha_obj { }
.css_cithoraini_label { }
.css_cithoraini_line { }
.css_cithoraini_obj { }
.css_cithorafin_label { }
.css_cithorafin_line { }
.css_cithorafin_obj { }
.css_citduracion_label { }
.css_citduracion_line {text-align:left;}
.css_citduracion_obj {text-align:left;}
.css_agesecuen_label { }
.css_agesecuen_line {text-align:left;}
.css_agesecuen_obj {text-align:left;}
.css_fclnumero_label { }
.css_fclnumero_line {text-align:left;width:300px;}
.css_fclnumero_obj {text-align:left;width:300px;}
.css_cittipo_label { }
.css_cittipo_line { }
.css_cittipo_obj { }
.css_citfactur_label { }
.css_citfactur_line {text-align:left;}
.css_citfactur_obj {text-align:left;}
.css_prenumero_label { }
.css_prenumero_line {text-align:left;}
.css_prenumero_obj {text-align:left;}
.css_citobserv_label { }
.css_citobserv_line { }
.css_citobserv_obj { }
.css_citcolor_label { }
.css_citcolor_line { }
.css_citcolor_obj { }
.css_editar_cita_label { }
.css_editar_cita_line { }
.css_editar_cita_obj { }
.css_editar_presup_label { }
.css_editar_presup_line { }
.css_editar_presup_obj { }
.css_ficha_cliente_label { }
.css_ficha_cliente_line { }
.css_ficha_cliente_obj { }
.css_hora_fin_mostrar_label { }
.css_hora_fin_mostrar_line { }
.css_hora_fin_mostrar_obj { }
.css_label_ficha_label { }
.css_label_ficha_line {color:#0000FF;font-weight:bold;}
.css_label_ficha_obj {color:#0000FF;font-weight:bold;}
.css_cancelar_cita_label { }
.css_cancelar_cita_line { }
.css_cancelar_cita_obj { }
.css_info_documento_label { }
.css_info_documento_line { }
.css_info_documento_obj { }
.css_info_documento_2_label { }
.css_info_documento_2_line { }
.css_info_documento_2_obj { }
.css_nombre_presupuesto_label { }
.css_nombre_presupuesto_line { }
.css_nombre_presupuesto_obj { }
.css_paciente_nuevo_label { }
.css_paciente_nuevo_line { }
.css_paciente_nuevo_obj { }
