.css_factura_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_factura_grid_line {vertical-align: top;text-align: center;}
.css_f_razonsocialcomprador_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_f_razonsocialcomprador_grid_line {vertical-align: top;text-align: right;}
.css_f_idcomprador_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_f_idcomprador_grid_line {vertical-align: top;text-align: center;}
.css_f_fechaemision_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_f_fechaemision_grid_line {vertical-align: top;text-align: center;}
.css_f_importetotal_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_f_importetotal_grid_line {vertical-align: top;text-align: right;}
